/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  background-attachment: fixed;
  background-color: rgba(50,54,57,1);
  background-position: -64px;
  background-repeat: no-repeat;
  height: 100%;
  overflow: auto;
}

html[hascustombackground='true'] {
  background-image: -webkit-image-set(url(chrome://theme/IDR_THEME_NTP_BACKGROUND?) 1x, url(chrome://theme/IDR_THEME_NTP_BACKGROUND@2x?) 2x);
}

html[bookmarkbarattached='true'] {
  background-position: -64px;
}

#attribution-img {
  content: -webkit-image-set(url(chrome://theme/IDR_THEME_NTP_ATTRIBUTION?) 1x, url(chrome://theme/IDR_THEME_NTP_ATTRIBUTION@2x?) 2x);
}
